.contForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  border: 2px solid red;
  border-radius: 8px;
  height: 40px;
  width: 100px;
}

.password {
  border: 2px solid red;
  border-radius: 8px;
  height: 40px;
  width: 100px;
}

.button {
  display: flex;
  color: yellow;
  height: 40px;
  width: 100px;
  background-color: #08355b;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20 20px;
  border-radius: 8px;
}
